.doctor-schedule-wrapper {

    .all-schedule {

        select {
            border        : none;
            margin        : 10px 0;
            margin-top    : 30px;
            outline       : none;
            color         : #337ab7;
            border-bottom : 1px solid #999;
            font-weight   : 600;
            padding-bottom: 4px;

            option {
                font-size: 14px;
            }
        }

    }


    .all-available-time {

        .text-calendar {
            span {

                color         : #333;
                font-weight   : 600;
                font-size     : 14px;
                display       : flex;
                align-items   : center;
                text-transform: uppercase;

                svg {
                    margin-right: 4px;
                }
            }
        }

        .time-calendar-schedule {
            button {
                width      : 100%;
                background : #fff8ae;
                font       : 14px/1.5 'Montserrat', sans-serif;
                min-height : 38px;
                color      : #333;
                font-weight: 600;
                border     : none;
                white-space: nowrap;
                padding    : 0 4px;

                &:hover {
                    border: 1px solid #ccc;
                }

                &.button-en {
                    // font-size: 9px;
                }
            }


            .select-free {
                margin-top: 4px;

                span {

                    font-size: 12px;
                    color    : #333;

                    svg {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}