/*
 * General styles
 */
body,
html {
  background-image : "#fff";
  background-repeat: no-repeat;
  background-size  : cover;
  font-family      : $fontmain;
  font-size        : $base-size - 2px;
  height           : 100vh;
  overflow         : hidden;

  iframe {
    position: relative;
  }
}

.content-container {

  .title {
    text-align    : center;
    text-transform: uppercase;
    font-weight   : bold;
    font-size     : $base-size + 4px;
    margin-top    : 15px;
    color         : $colormain;
  }

  .content {
    margin            : 15px 30px;
    box-shadow        : 2px 2px 4px 0 $box-shadow-color;
    -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
  }
}

.modal-header {
  button {
    border          : none;
    background-color: transparent;
    font-size       : 16px;
  }
}

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px);