@import "variables";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}


.sub-title {
    white-space: nowrap;
    font-weight: lighter;
    font-size  : 10px;
    color      : #333;
}

.faqs {
    color      : #969495;
    font-size  : 16px;
    display    : flex;
    align-items: center;
    font-weight: bold;
    cursor     : pointer;

    svg {
        color       : #45c3d2;
        width       : 14px;
        height      : 30px;
        margin-right: 4px;
    }
}

.text-nowrap {
    white-space: nowrap !important;
}

.slick-arrow.slick-next {
    border          : 2px solid #d7d7d7;
    background-color: rgba(255, 255, 255, 0.7) !important;
    color           : #959595 !important;
    font-size       : 18px;
    padding         : 12px;
    z-index         : 999;

    &:hover {
        background-color: #fff !important;
    }

}

.slick-arrow.slick-prev {
    border          : 2px solid #d7d7d7;
    background-color: rgba(255, 255, 255, 0.7) !important;
    color           : #959595 !important;
    font-size       : 18px;
    padding         : 12px;
    z-index         : 999;

    &:hover {
        background-color: #fff !important;
    }

}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}