.verify-email-container {

    .trademark-true-nf {
        height         : 100vh;
        display        : flex;
        justify-content: center;
        align-items    : center;

        .trademark {
            display    : flex;
            align-items: center;

            div {
                width              : 160px;
                height             : 100px;
                background-position: center;
                background-repeat  : no-repeat;
                background-size    : cover;
            }

            span {
                display    : flex;
                align-items: flex-end;
                margin-top : 20px;
            }
        }

        .body-very {
            text-align: center;
        }
    }


}