.Detail-Doctor-wrapper {


    .detail-doctor-container {
        margin-top: 58px;

        .detail-doctor-introduce {

            .detail-doctor-redirect {
                background-color: #ccc;
                margin-bottom   : 8px;
            }

            .left-image {
                display        : flex;
                justify-content: center;
                align-items    : center;

                div {
                    width : 120px;
                    height: 120px;

                    background-position: center center;
                    background-size    : cover;
                    background-repeat  : no-repeat;
                    border-radius      : 50%;
                }
            }


            .container-introduce {
                padding: 10px;



                .title-introduce {
                    h2 {
                        font-size    : 26px !important;
                        margin       : 0px;
                        padding      : 0px;
                        margin-bottom: 5px;
                        font-weight  : 800;
                        color        : #333;
                        font         : 14px/1.5 'Montserrat', sans-serif;
                        padding      : 0 10px 0 0;
                        outline      : none;
                        ;
                    }
                }

                .description-introduce {}
            }
        }


    }
}