.Slick-slider-container {
    height: 100%;
    width : 100%;

    a {
        text-decoration: none;
    }


    .slider-container-data-banner {

        height: 230px;

        // display        : flex;
        // flex-direction : column;
        // justify-content: center;
        padding      : 14px;
        margin       : 0 6px;
        border       : 0.1px solid rgba(0, 0, 0, 0.085);
        border-radius: 4px;
        cursor       : pointer;



        .img-customize {
            background-repeat  : no-repeat;
            background-position: center center;
            background-size    : cover;
            width              : 247px;
            min-height         : 140px;
            border-radius      : 4px;
            margin             : 0 auto;

        }

        .body {


            .span-text-banner {
                text-align  : start;
                padding     : 10px 6px;
                padding-left: 20px;
                display     : block;
                font-size   : 14px !important;
                font-weight : 700;
                height      : 50px;
                max-width   : 100%;

                display           : -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow          : hidden;

            }

            ul {
                li {
                    font-size : 12px;
                    padding   : 4px 6px;
                    text-align: start;
                }
            }
        }
    }


    .slider-container-data {
        .img-customize {
            background-size    : cover;
            background-position: center center;
            background-repeat  : no-repeat;
            height             : 158px;
            margin             : 0 5px;
            border             : 1.25px solid #eee;
            border-radius      : 4px;
            cursor             : pointer;
        }

        &:hover {
            span {
                color: #45c3d2;
            }
        }
    }


    .camnnang-parents {

        .slider-container-cnang {

            .img-customize-cnang {
                height             : 150px;
                background-repeat  : no-repeat;
                background-position: center center;
                background-size    : cover;
                width              : 78%;
                max-width          : 283px;
            }

            .slider-container-cnang-text {
                font-weight  : bold;
                margin-bottom: 15px;
                padding-left : 0px !important;


                h3 {
                    padding-top   : 6px;
                    font-size     : 16px;
                    text-align    : start;
                    color         : #333;
                    padding-left  : 6px;
                    padding-right : 6px;
                    padding-bottom: 6px;
                }
            }
        }
    }





    .Slick-slider-container-slick-doctor {
        border       : 1px solid #ccc;
        margin       : 0 5px;
        height       : 245px;
        border-radius: 4px;

        cursor  : pointer;
        position: relative;

        .span-rank {
            position     : absolute;
            top          : 10px;
            left         : 10px;
            background   : #fff04b;
            color        : #00234b;
            min-width    : 30px;
            font-size    : 0.8rem;
            display      : inline-block;
            border-radius: 5px;
            padding      : 2px 5px;
            font-weight  : bold;

        }


        .img-customize-doctor {
            width              : 120px;
            height             : 120px;
            background-size    : cover;
            margin             : 0 auto;
            margin-top         : 10px;
            border-radius      : 50%;
            background-position: center center;
            background-repeat  : no-repeat;
        }

        &:hover {
            h3 {
                color: #45c3d2;
            }
        }

        h3 {
            color      : #111;
            white-space: pre-wrap;
            font-size  : 13px;
            padding    : 4px 4px;
            padding-top: 8px;
        }

        span {
            color    : #555;
            font-size: 12px;
        }

    }

    .span-text {
        display     : flex;
        text-align  : start;
        padding-left: 10px;
        padding-top : 4px;
        padding     : 5px 10px;
        color       : #555;
        font-size   : 12px;
    }


    .d-con-video {
        width        : 50%;
        border-radius: 4px;
        overflow     : hidden;
    }

    .d-con-item {
        width  : 50%;
        display: flex;

        .d-con-item-truyenthong {
            margin-top  : 40px;
            padding-left: 40px;
            max-height  : 152px;
        }

        img {
            height       : 50px;
            object-fit   : contain;
            border-radius: 4px;
            padding      : 10px;
        }
    }
}