@import "../../styles/common.scss";

.header-container {
    z-index                  : 99;
    display                  : flex;
    justify-content          : space-between;
    background-color         : $colormain;
    color                    : $common-text-color;
    height                   : 40px;
    position                 : relative;
    background               : repeating-linear-gradient(to right, red 0, #00f 50%, red 100%);
    width                    : 100%;
    background-size          : 200% auto;
    background-position      : 0 100%;
    animation                : gradient 4s infinite;
    animation-fill-mode      : forwards;
    animation-timing-function: linear;
    padding                  : 0 10px;


    .language {
        margin-right: 30px;


        img {
            width        : 20px;
            height       : 20px;
            object-fit   : cover;
            border-radius: 50%;
            opacity      : 0.4;
            cursor       : pointer;
            user-select  : none;
        }

        &.active {
            img {
                opacity: 1;
                cursor : default;
            }
        }
    }

    .language-vi {
        margin-right: 10px;
    }


    .btn-logout {
        color      : $common-text-color;
        line-height: 40px;
        height     : 40px;
        padding    : 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }
}