.home-header-parents {
    background-color: #fff;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 9000;
    box-shadow      : 0 0px 1px 0 rgba(0, 0, 0, 0.25);


    .home-header-container {
        height : 77px;
        padding: 10px 0;

        .home-header-content {
            width : 100%;
            height: 100%;


            .left-content {
                width      : 25%;
                display    : flex;
                align-items: center;

                .button-content {
                    margin-right: 14px;
                    cursor      : pointer;
                    font-size   : 24px;

                    svg {
                        color: #969495;
                    }
                }

                a {
                    display        : block;
                    text-decoration: none;

                    .header-logo {
                        background-position: center;
                        background-repeat  : no-repeat;
                        height             : 45px;
                        background-size    : contain;
                        width              : 155px;
                    }
                }


            }

            .center-content {
                width          : 50%;
                display        : flex;
                align-items    : center;
                justify-content: space-between;


                .item-container {
                    width    : 25%;
                    cursor   : pointer;
                    font-size: 12px;
                }
            }

            .right-content {
                flex           : 1;
                display        : flex;
                align-items    : center;
                justify-content: center;

                .faqs {
                    margin-right: 10px;
                }

                .language {


                    img {
                        width        : 30px;
                        height       : 30px;
                        object-fit   : cover;
                        border-radius: 50%;
                        opacity      : 0.4;
                        cursor       : pointer;
                    }

                    &.active {
                        img {
                            opacity: 1;
                            cursor : default;
                        }
                    }
                }

                .language-vi {
                    margin-right: 10px;
                }

            }
        }
    }
}